# Development
venv/
.idea
src/GitHubNotificator.egg-info/
tests/.pytest_cache

## Usage
#src/github_notificator/github_token.txt
#src/github_notificator/config.json
#src/github_notificator/repos.txt

